# Node.js
node_modules/
npm-debug.log
yarn-error.log
.parcel-cache

# Logs
logs/
*.log
*.log.*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other
*.bak
*.tmp

# Build files
build/
dist/