# Dependency directories
node_modules/

src/
test/

# Optional npm cache directory
.npm/

# Optional REPL history
.node_repl_history

# Output directories
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db