# Gradle
.gradle/
build/

# Kotlin
.kotlin

# Local configuration
local.properties
signing.properties

# Android Studio
captures/
release/
app/debug/*
app/releaseCandidate/*
app/beta/*
app/alpha/*
app/debugMin/*
app/playstore/*
.externalNativeBuild/
.cxx/

# IntelliJ
*.iml
.idea/

# Keystore
*.jks
*.keystore

# MacOS
.DS_Store