*,
*::before,
*::after {
  box-sizing: border-box;
  ::-webkit-scrollbar {
    display: none;
  }
  touch-action: manipulation;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  color: #000;
  background: #fff;
}

::selection {
  color: #000;
  background: #fff;
}

.lazy-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.lazy-container.fade-in {
  opacity: 1;
  transform: translateY(0);
}
