::-webkit-scrollbar {
  display: none;
}

img,
svg {
  vertical-align: middle;
}

// Item card custom desgin
.item-card-wrapper {
  .item-tile {
    margin-bottom: 0px;
  }
  .item-version-author {
    display: block;
    font-size: 12px;
    margin-bottom: 8px;
  }
  .item-description {
    display: block;
    font-size: 14px;
  }
  .item-last-update {
    display: block;
    font-size: 12px;
    margin-top: 8px;
  }
  .item-module-name {
    vertical-align: middle;
  }
}
