::-webkit-scrollbar {
  display: none;
}

img,
svg {
  vertical-align: middle;
}

// Item card custom desgin
item-card-wrapper {
  item-title {
    margin-bottom: 0px;
  }
  item-version-author {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
  }
  item-description {
    display: block;
    font-size: 13px;
  }
  item-last-update {
    display: block;
    font-size: 12px;
    margin-top: 8px;
  }
  item-module-name {
    display: flex;
    item-name {
      font-size: large;
      overflow: hidden;
      text-align: start;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
    item-switch {
      font-size: small;
      text-align: end;
      white-space: nowrap;
    }
  }
  item-module-button-wrapper {
    display: flex;
    width: 100%;
    padding-top: 8px;
    item-module-button {
      width: 100%;
      text-align: end;
    }
  }
}

// License cards

license-card-wrapper {
  license-card-title {
    display: flex;
    license-card-name {
      font-size: large;
      width: 100%;
      text-align: start;
      white-space: nowrap;
    }
    license-card-author {
      font-size: small;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-align: end;
      width: 100%;
      padding: 4px;
    }
  }
  license-card-description {
  }
  .license-card-diver {
    height: 1px;
    border: none;
    color: #bbb;
    background-color: #bbb;
  }
  license-card-infos {
    width: 100%;
    display: flex;
    license-card-version {
      width: 100%;
    }
    license-card-license {
      width: 100%;
      text-align: end;
    }
  }
}
