*,
*::before,
*::after {
  box-sizing: border-box;
  ::-webkit-scrollbar {
    display: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  display: none;
}