.markdown-body-light {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    color: #24292f;
    background-color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;

    .octicon {
        display: inline-block;
        fill: currentColor;
        vertical-align: text-bottom;
    }

    h1:hover .anchor .octicon-link:before,
    h2:hover .anchor .octicon-link:before,
    h3:hover .anchor .octicon-link:before,
    h4:hover .anchor .octicon-link:before,
    h5:hover .anchor .octicon-link:before,
    h6:hover .anchor .octicon-link:before {
        width: 16px;
        height: 16px;
        content: " ";
        display: inline-block;
        background-color: currentColor;
        -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
        mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
    }

    details,
    figcaption,
    figure {
        display: block;
    }

    summary {
        display: list-item;
    }

    [hidden] {
        display: none !important;
    }

    a {
        background-color: transparent;
        color: #4a148c;
        text-decoration: none;

        &:active,
        &:hover {
            outline-width: 0;
        }
    }

    abbr[title] {
        border-bottom: none;
        text-decoration: underline dotted;
    }

    b,
    strong {
        font-weight: 600;
    }

    dfn {
        font-style: italic;
    }

    h1 {
        margin: 0.67em 0;
        font-weight: 600;
        padding-bottom: 0.3em;
        font-size: 2em;
        border-bottom: 1px solid hsla(210, 18%, 87%, 1);
    }

    mark {
        background-color: #fff8c5;
        color: #24292f;
    }

    small {
        font-size: 90%;
    }

    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sub {
        bottom: -0.25em;
    }

    sup {
        top: -0.5em;
    }

    img {
        border-style: none;
        max-width: 100%;
        box-sizing: content-box;
        background-color: #ffffff;
    }

    code,
    kbd,
    pre,
    samp {
        font-family: monospace, monospace;
        font-size: 1em;
    }

    figure {
        margin: 1em 40px;
    }

    hr {
        box-sizing: content-box;
        overflow: hidden;
        background: transparent;
        border-bottom: 1px solid hsla(210, 18%, 87%, 1);
        height: 0.25em;
        padding: 0;
        margin: 24px 0;
        background-color: #d0d7de;
        border: 0;
    }

    input {
        font: inherit;
        margin: 0;
        overflow: visible;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    [type="button"],
    [type="reset"],
    [type="submit"] {
        -webkit-appearance: button;
    }

    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText;
    }

    [type="checkbox"],
    [type="radio"] {
        box-sizing: border-box;
        padding: 0;
    }

    [type="number"] {

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            height: auto;
        }
    }

    [type="search"] {
        -webkit-appearance: textfield;
        outline-offset: -2px;

        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }
    }

    ::-webkit-input-placeholder {
        color: inherit;
        opacity: 0.54;
    }

    ::-webkit-file-upload-button {
        -webkit-appearance: button;
        font: inherit;
    }

    a:hover {
        text-decoration: underline;
    }

    hr {
        &::before {
            display: table;
            content: "";
        }

        &::after {
            display: table;
            clear: both;
            content: "";
        }
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;
        display: block;
        width: max-content;
        max-width: 100%;
        overflow: auto;
    }

    td,
    th {
        padding: 0;
    }

    details {
        summary {
            cursor: pointer;
        }

        &:not([open])>*:not(summary) {
            display: none !important;
        }
    }

    kbd {
        display: inline-block;
        padding: 3px 5px;
        font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
        line-height: 10px;
        color: #24292f;
        vertical-align: middle;
        background-color: #f6f8fa;
        border: solid 1px rgba(175, 184, 193, 0.2);
        border-bottom-color: rgba(175, 184, 193, 0.2);
        border-radius: 6px;
        box-shadow: inset 0 -1px 0 rgba(175, 184, 193, 0.2);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 1.25;
    }

    h2 {
        font-weight: 600;
        padding-bottom: 0.3em;
        font-size: 1.5em;
        border-bottom: 1px solid hsla(210, 18%, 87%, 1);
    }

    h3 {
        font-weight: 600;
        font-size: 1.25em;
    }

    h4 {
        font-weight: 600;
        font-size: 1em;
    }

    h5 {
        font-weight: 600;
        font-size: 0.875em;
    }

    h6 {
        font-weight: 600;
        font-size: 0.85em;
        color: #57606a;
    }

    p {
        margin-top: 0;
        margin-bottom: 10px;
    }

    blockquote {
        margin: 0;
        padding: 0 1em;
        color: #57606a;
        border-left: 0.25em solid #d0d7de;
    }

    ul {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 2em;
    }

    ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 2em;

        ol {
            list-style-type: lower-roman;
        }
    }

    ul {
        ol {
            list-style-type: lower-roman;
        }

        ul ol,
        ol ol {
            list-style-type: lower-alpha;
        }
    }

    ol {

        ul ol,
        ol ol {
            list-style-type: lower-alpha;
        }
    }

    dd {
        margin-left: 0;
    }

    tt,
    code {
        font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
        font-size: 12px;
    }

    pre {
        margin-top: 0;
        margin-bottom: 0;
        font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
        font-size: 12px;
        word-wrap: normal;
    }

    .octicon {
        display: inline-block;
        overflow: visible !important;
        vertical-align: text-bottom;
        fill: currentColor;
    }

    ::placeholder {
        color: #6e7781;
        opacity: 1;
    }

    input {

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            margin: 0;
            -webkit-appearance: none;
            appearance: none;
        }
    }

    .pl-c {
        color: #6e7781;
    }

    .pl-c1,
    .pl-s .pl-v {
        color: #0550ae;
    }

    .pl-e,
    .pl-en {
        color: #8250df;
    }

    .pl-smi,
    .pl-s .pl-s1 {
        color: #24292f;
    }

    .pl-ent {
        color: #116329;
    }

    .pl-k {
        color: #cf222e;
    }

    .pl-s,
    .pl-pds,
    .pl-s .pl-pse .pl-s1 {
        color: #0a3069;
    }

    .pl-sr {
        color: #0a3069;

        .pl-cce,
        .pl-sre,
        .pl-sra {
            color: #0a3069;
        }
    }

    .pl-v,
    .pl-smw {
        color: #953800;
    }

    .pl-bu {
        color: #82071e;
    }

    .pl-ii {
        color: #f6f8fa;
        background-color: #82071e;
    }

    .pl-c2 {
        color: #f6f8fa;
        background-color: #cf222e;
    }

    .pl-sr .pl-cce {
        font-weight: bold;
        color: #116329;
    }

    .pl-ml {
        color: #3b2300;
    }

    .pl-mh {
        font-weight: bold;
        color: #0550ae;

        .pl-en {
            font-weight: bold;
            color: #0550ae;
        }
    }

    .pl-ms {
        font-weight: bold;
        color: #0550ae;
    }

    .pl-mi {
        font-style: italic;
        color: #24292f;
    }

    .pl-mb {
        font-weight: bold;
        color: #24292f;
    }

    .pl-md {
        color: #82071e;
        background-color: #ffebe9;
    }

    .pl-mi1 {
        color: #116329;
        background-color: #dafbe1;
    }

    .pl-mc {
        color: #953800;
        background-color: #ffd8b5;
    }

    .pl-mi2 {
        color: #eaeef2;
        background-color: #0550ae;
    }

    .pl-mdr {
        font-weight: bold;
        color: #8250df;
    }

    .pl-ba {
        color: #57606a;
    }

    .pl-sg {
        color: #8c959f;
    }

    .pl-corl {
        text-decoration: underline;
        color: #0a3069;
    }

    [data-catalyst] {
        display: block;
    }

    g-emoji {
        font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 1em;
        font-style: normal !important;
        font-weight: 400;
        line-height: 1;
        vertical-align: -0.075em;

        img {
            width: 1em;
            height: 1em;
        }
    }

    &::before {
        display: table;
        content: "";
    }

    &::after {
        display: table;
        clear: both;
        content: "";
    }

    >* {
        &:first-child {
            margin-top: 0 !important;
        }

        &:last-child {
            margin-bottom: 0 !important;
        }
    }

    a:not([href]) {
        color: inherit;
        text-decoration: none;
    }

    .absent {
        color: #cf222e;
    }

    .anchor {
        float: left;
        padding-right: 4px;
        margin-left: -20px;
        line-height: 1;

        &:focus {
            outline: none;
        }
    }

    p,
    blockquote,
    ul,
    ol,
    dl,
    table,
    pre,
    details {
        margin-top: 0;
        margin-bottom: 16px;
    }

    blockquote> {
        :first-child {
            margin-top: 0;
        }

        :last-child {
            margin-bottom: 0;
        }
    }

    sup>a {
        &::before {
            content: "[";
        }

        &::after {
            content: "]";
        }
    }

    h1 .octicon-link,
    h2 .octicon-link,
    h3 .octicon-link,
    h4 .octicon-link,
    h5 .octicon-link,
    h6 .octicon-link {
        color: #24292f;
        vertical-align: middle;
        visibility: hidden;
    }

    h1:hover .anchor,
    h2:hover .anchor,
    h3:hover .anchor,
    h4:hover .anchor,
    h5:hover .anchor,
    h6:hover .anchor {
        text-decoration: none;
    }

    h1:hover .anchor .octicon-link,
    h2:hover .anchor .octicon-link,
    h3:hover .anchor .octicon-link,
    h4:hover .anchor .octicon-link,
    h5:hover .anchor .octicon-link,
    h6:hover .anchor .octicon-link {
        visibility: visible;
    }

    h1 {

        tt,
        code {
            padding: 0 0.2em;
            font-size: inherit;
        }
    }

    h2 {

        tt,
        code {
            padding: 0 0.2em;
            font-size: inherit;
        }
    }

    h3 {

        tt,
        code {
            padding: 0 0.2em;
            font-size: inherit;
        }
    }

    h4 {

        tt,
        code {
            padding: 0 0.2em;
            font-size: inherit;
        }
    }

    h5 {

        tt,
        code {
            padding: 0 0.2em;
            font-size: inherit;
        }
    }

    h6 {

        tt,
        code {
            padding: 0 0.2em;
            font-size: inherit;
        }
    }

    ul.no-list {
        padding: 0;
        list-style-type: none;
    }

    ol {
        &.no-list {
            padding: 0;
            list-style-type: none;
        }

        &[type="1"] {
            list-style-type: decimal;
        }

        &[type="a"] {
            list-style-type: lower-alpha;
        }

        &[type="i"] {
            list-style-type: lower-roman;
        }
    }

    div>ol:not([type]) {
        list-style-type: decimal;
    }

    ul {

        ul,
        ol {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    ol {

        ol,
        ul {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    li {
        >p {
            margin-top: 16px;
        }

        +li {
            margin-top: 0.25em;
        }
    }

    dl {
        padding: 0;

        dt {
            padding: 0;
            margin-top: 16px;
            font-size: 1em;
            font-style: italic;
            font-weight: 600;
        }

        dd {
            padding: 0 16px;
            margin-bottom: 16px;
        }
    }

    table {
        th {
            font-weight: 600;
            padding: 6px 13px;
            border: 1px solid #d0d7de;
        }

        td {
            padding: 6px 13px;
            border: 1px solid #d0d7de;
        }

        tr {
            background-color: #ffffff;
            border-top: 1px solid hsla(210, 18%, 87%, 1);

            &:nth-child(2n) {
                background-color: #f6f8fa;
            }
        }

        img {
            background-color: transparent;
        }
    }

    img {
        &[align="right"] {
            padding-left: 20px;
        }

        &[align="left"] {
            padding-right: 20px;
        }
    }

    .emoji {
        max-width: none;
        vertical-align: text-top;
        background-color: transparent;
    }

    span {
        &.frame {
            display: block;
            overflow: hidden;

            >span {
                display: block;
                float: left;
                width: auto;
                padding: 7px;
                margin: 13px 0 0;
                overflow: hidden;
                border: 1px solid #d0d7de;
            }

            span {
                img {
                    display: block;
                    float: left;
                }

                span {
                    display: block;
                    padding: 5px 0 0;
                    clear: both;
                    color: #24292f;
                }
            }
        }

        &.align-center {
            display: block;
            overflow: hidden;
            clear: both;

            >span {
                display: block;
                margin: 13px auto 0;
                overflow: hidden;
                text-align: center;
            }

            span img {
                margin: 0 auto;
                text-align: center;
            }
        }

        &.align-right {
            display: block;
            overflow: hidden;
            clear: both;

            >span {
                display: block;
                margin: 13px 0 0;
                overflow: hidden;
                text-align: right;
            }

            span img {
                margin: 0;
                text-align: right;
            }
        }

        &.float-left {
            display: block;
            float: left;
            margin-right: 13px;
            overflow: hidden;

            span {
                margin: 13px 0 0;
            }
        }

        &.float-right {
            display: block;
            float: right;
            margin-left: 13px;
            overflow: hidden;

            >span {
                display: block;
                margin: 13px auto 0;
                overflow: hidden;
                text-align: right;
            }
        }
    }

    code,
    tt {
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 85%;
        background-color: rgba(175, 184, 193, 0.2);
        border-radius: 6px;
    }

    code br,
    tt br {
        display: none;
    }

    del code {
        text-decoration: inherit;
    }

    pre {
        code {
            font-size: 100%;
        }

        >code {
            padding: 0;
            margin: 0;
            word-break: normal;
            white-space: pre;
            background: transparent;
            border: 0;
        }
    }

    .highlight {
        margin-bottom: 16px;

        pre {
            margin-bottom: 0;
            word-break: normal;
            padding: 16px;
            overflow: auto;
            font-size: 85%;
            line-height: 1.45;
            background-color: #f6f8fa;
            border-radius: 6px;
        }
    }

    pre {
        padding: 16px;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        background-color: #f6f8fa;
        border-radius: 6px;

        code,
        tt {
            display: inline;
            max-width: auto;
            padding: 0;
            margin: 0;
            overflow: visible;
            line-height: inherit;
            word-wrap: normal;
            background-color: transparent;
            border: 0;
        }
    }

    .csv-data {

        td,
        th {
            padding: 5px;
            overflow: hidden;
            font-size: 12px;
            line-height: 1;
            text-align: left;
            white-space: nowrap;
        }

        .blob-num {
            padding: 10px 8px 9px;
            text-align: right;
            background: #ffffff;
            border: 0;
        }

        tr {
            border-top: 0;
        }

        th {
            font-weight: 600;
            background: #f6f8fa;
            border-top: 0;
        }
    }

    .footnotes {
        font-size: 12px;
        color: #57606a;
        border-top: 1px solid #d0d7de;

        ol {
            padding-left: 16px;
        }

        li {
            position: relative;

            &:target {
                &::before {
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    bottom: -8px;
                    left: -24px;
                    pointer-events: none;
                    content: "";
                    border: 2px solid #0969da;
                    border-radius: 6px;
                }

                color: #24292f;
            }
        }

        .data-footnote-backref g-emoji {
            font-family: monospace;
        }
    }

    .task-list-item {
        list-style-type: none;

        label {
            font-weight: 400;
        }

        &.enabled label {
            cursor: pointer;
        }

        +.task-list-item {
            margin-top: 3px;
        }

        .handle {
            display: none;
        }
    }

    .task-list-item-checkbox {
        margin: 0 0.2em 0.25em -1.6em;
        vertical-align: middle;
    }

    .contains-task-list:dir(rtl) .task-list-item-checkbox {
        margin: 0 -1.6em 0.25em 0.2em;
    }

    ::-webkit-calendar-picker-indicator {
        filter: invert(50%);
    }

    /*!
    Theme: GitHub
    Description: Light theme as seen on github.com
    Author: github.com
    Maintainer: @Hirse
    Updated: 2021-05-15
  
    Outdated base version: https://github.com/primer/github-syntax-light
    Current colors taken from GitHub's CSS
  */

    .hljs {
        color: #24292e;
    }

    .hljs-doctag,
    .hljs-keyword,
    .hljs-meta .hljs-keyword,
    .hljs-template-tag,
    .hljs-template-variable,
    .hljs-type,
    .hljs-variable.language_ {
        /* prettylights-syntax-keyword */
        color: #d73a49;
    }

    .hljs-title {
        /* prettylights-syntax-entity */
        color: #6f42c1;

        &.class_ {
            /* prettylights-syntax-entity */
            color: #6f42c1;

            &.inherited__ {
                /* prettylights-syntax-entity */
                color: #6f42c1;
            }
        }

        &.function_ {
            /* prettylights-syntax-entity */
            color: #6f42c1;
        }
    }

    .hljs-attr,
    .hljs-attribute,
    .hljs-literal,
    .hljs-meta,
    .hljs-number,
    .hljs-operator,
    .hljs-variable,
    .hljs-selector-attr,
    .hljs-selector-class,
    .hljs-selector-id {
        /* prettylights-syntax-constant */
        color: #005cc5;
    }

    .hljs-regexp,
    .hljs-string,
    .hljs-meta .hljs-string {
        /* prettylights-syntax-string */
        color: #032f62;
    }

    .hljs-built_in,
    .hljs-symbol {
        /* prettylights-syntax-variable */
        color: #e36209;
    }

    .hljs-comment,
    .hljs-code,
    .hljs-formula {
        /* prettylights-syntax-comment */
        color: #6a737d;
    }

    .hljs-name,
    .hljs-quote,
    .hljs-selector-tag,
    .hljs-selector-pseudo {
        /* prettylights-syntax-entity-tag */
        color: #22863a;
    }

    .hljs-subst {
        /* prettylights-syntax-storage-modifier-import */
        color: #24292e;
    }

    .hljs-section {
        /* prettylights-syntax-markup-heading */
        color: #005cc5;
        font-weight: bold;
    }

    .hljs-bullet {
        /* prettylights-syntax-markup-list */
        color: #735c0f;
    }

    .hljs-emphasis {
        /* prettylights-syntax-markup-italic */
        color: #24292e;
        font-style: italic;
    }

    .hljs-strong {
        /* prettylights-syntax-markup-bold */
        color: #24292e;
        font-weight: bold;
    }

    .hljs-addition {
        /* prettylights-syntax-markup-inserted */
        color: #22863a;
        background-color: #f0fff4;
    }

    .hljs-deletion {
        /* prettylights-syntax-markup-deleted */
        color: #b31d28;
        background-color: #ffeef0;
    }

    .hljs-char.escape_,
    .hljs-link,
    .hljs-params,
    .hljs-property,
    .hljs-punctuation,
    .hljs-tag {
        /* purposely ignored */
    }
}