<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <permission
        android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"
        tools:node="remove" />

    <uses-permission
        android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        tools:node="remove" />

    <queries>
        <package android:name="com.topjohnwu.magisk" />
        <package android:name="io.github.huskydg.magisk" />
        <package android:name="me.weishu.kernelsu" />
        <package android:name="me.bmax.apatch" />
    </queries>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme.SplashScreen"
        tools:ignore="GoogleAppIndexingWarning"
        android:appCategory="productivity"
        tools:targetApi="q">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern="/.*\\.zip" />
                <data android:pathPattern="/.*\\..*\\.zip" />
                <data android:pathPattern="/.*\\..*\\..*\\.zip" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.zip" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\.zip" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\.zip" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\.zip" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="mmrl" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="mmrl.dergoogler.com" />
                <data android:pathPrefix="/" />
            </intent-filter>
        </activity>

        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            tools:node="remove" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            tools:node="remove" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>
